{% extends 'base.html.twig' %}
{% form_theme form 'defaults/bootstrap_5_horizontal_layout.html.twig' %}

{% block body %}
<div class="row">
    <h1>{{ site.url }}</h1>
    <div class="col-md-6">
        <div class="card p-3">
            <div class="row">
                <h6>Przypisz użytkownika</h6>
                <div class="form-wrapper">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn bg-info mt-4 mb-0 text-light">Dodaj</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3">
            <div class="row">
                <h6>Przypisani użytkownicy</h6>
                <ul class="list-group p-2">
                    {% for user in userAssignedToThisSite %}
                        <li class="list-group-item">{{ user.user.email }} <a href="{{ path('admin_user_site_delete', {'siteId' : site.id, 'userSiteId' : user.id}) }}" class="text-end text-danger font-weight-bold">Usuń</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% include('modals/_delete_modal.html.twig') %}
{% endblock %}